@import 'variables';

@mixin icon-styling-stroke {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  svg {
    stroke: black;
    transition: stroke 0.3s ease;

    &:hover {
      stroke: $cream-color
    }
  }
}

@mixin icon-styling-fill {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  svg {
    fill: black;
    transition: fill 0.3s ease;

    &:hover {
      fill: $cream-color
    }
  }
}
