<section class="company-info">
    <img class="company-info__image" src="../../../assets/images/main/candles.jpg" alt="Candles">
    <div class="company-info__container">
        <h2 class="company-info__title">About Liquened</h2>

        <p class="company-info__description">
            Liquined started as an inspiration to blend European art and sculpture with home decor. We love having items in our homes that simply fill the room with dreaminess. We spent months studying and refining the process of handcrafting candles with local artists from Israel to create the unique candles of Liquined.
        </p>
    </div>
</section>
