<section class="instagram-feed">
    <h2 class="instagram-feed__title">{{ "main.instagram-feed.title" | translate }}</h2>

    <div class="instagram-feed__images-grid">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image1.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image2.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image3.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image4.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image5.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image6.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image7.jpg" alt=" Instagram image">
        <img class="instagram-feed__image" src="../../../assets/images/main/instagram/image8.jpg" alt=" Instagram image">
    </div>
</section>
