<section class="header">
    <nav class="nav">
        <a class="nav-item nav-link" routerLink="/contacts">{{ "header.navbar.contacts" | translate }}</a>
        <a class="nav-item nav-link" routerLink="/products">{{ "header.navbar.catalog" | translate }}</a>

        <div class="logo-container">
            <a class="logo" routerLink="/">Liquened</a>
        </div>

        <a class="nav-item nav-link" routerLink="/about">{{ "header.navbar.about" | translate }}</a>
        <a class="nav-item nav-link" routerLink="/gallery">{{ "header.navbar.gallery" | translate }}</a>

        <div class="language-container">
            <a class="nav-item nav-link language-link" (click)="languageService.selectedLanguage('en-US')">
                {{ "header.language.english" | translate }}
            </a>

            <span class="separator"></span>

            <a class="nav-item nav-link language-link" (click)="languageService.selectedLanguage('ru-RU')">
                {{ "header.language.russian" | translate }}
            </a>
        </div>
    </nav>

    <div class="divider"></div>
</section>


