<section class="scents">
    <h2 class="title">Choose your scent</h2>

    <div class="scents-grid">
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/citrus.jpg" alt="Citrus scent">
            <h3 class="scent__name">Citrus</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/fruity.jpg" alt="Fruity scent">
            <h3 class="scent__name">Floral</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/sweet.jpg" alt="Sweet scent">
            <h3 class="scent__name">Sweet</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/floral.jpg" alt="Floral scent">
            <h3 class="scent__name">Floral</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/bread.jpg" alt="Bread scent">
            <h3 class="scent__name">Bread</h3>
        </div>
    </div>
</section>
