<section class="scents">
    <h2 class="title">{{ "main.scents_demo.title" | translate}}</h2>

    <div class="scents-grid">
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/citrus.jpg" alt="Citrus scent">
            <h3 class="scent__name">{{ "main.scents_demo.scent.citrus" | translate }}</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/fruity.jpg" alt="Fruity scent">
            <h3 class="scent__name">{{ "main.scents_demo.scent.fruity" | translate }}</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/sweet.jpg" alt="Sweet scent">
            <h3 class="scent__name">{{ "main.scents_demo.scent.sweet" | translate }}</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/floral.jpg" alt="Floral scent">
                <h3 class="scent__name">{{ "main.scents_demo.scent.floral" | translate }}</h3>
        </div>
        <div class="scent">
            <img class="scent__image" src="../../../assets/images/main/scents/bread.jpg" alt="Bread scent">
            <h3 class="scent__name">{{ "main.scents_demo.scent.bread" | translate }}</h3>
        </div>
    </div>
</section>
