<section class="intro">
        <div class="intro__description">
            <h2 class="intro__title">{{ "main.intro.description.title" | translate}}</h2>

            <img class="intro__image" src="../../../assets/images/main/liquened-intro.jpg" alt="liquened introduction image">

            <button class="intro__button">{{ "main.intro.description.button" | translate}}</button>
        </div>

        <img class="intro__example-image" src="../../../assets/images/main/candle-woman-body-intro.jpg" alt="two woman body candles">
</section>
